#
# Copyright (C) 2015-2016 Console, Inc.
# Copyright (C) 2014 The Android-x86 Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#menuentry 'Console OS VER Debug mode' --class android-x86 {
#	search --file --no-floppy --set=root /system.sfs
#	linuxefi /kernel CMDLINE DATA= DEBUG=2
#	initrdefi /initrd.img
#}
#

set timeout=15
set gfxmode=auto
terminal_output gfxterm

menuentry 'Start Console OS To Go' --class android-x86 {
	search --file --no-floppy --set=root /system.sfs
	linuxefi /kernel CMDLINE quiet DATA=
	initrdefi /initrd.img
}

menuentry 'Install Console OS to Another Drive' --class android-x86 {
	search --file --no-floppy --set=root /system.sfs
	linuxefi /kernel CMDLINE DEBUG= INSTALL=1
	initrdefi /initrd.img
}

menuentry 'Start Windows' {
	search --file --no-floppy --set=root /EFI/Microsoft/Boot/bootmgfw.efi
	chainloader (${root})/EFI/Microsoft/Boot/bootmgfw.efi
}

menuentry 'Console OS GitHub Version/Build VER' --class android-x86 {
	search --file --no-floppy --set=root /system.sfs
	linuxefi /kernel CMDLINE quiet DATA=/dev/sda2
	initrdefi /initrd.img
}
